extends layout

block content
  h1 Google Analytics Auditor
  h3 Usage
  p /api/audit --data {"url": "<<url>>"}
  p Example: curl -d '{"url": "https://cloud.gov/"}' -H "Content-Type: application/json" <<thissite>>/api/audit

  textarea#submission-text(rows='1', cols='50')
    | https://cloud.gov/
  br
  button#get-stats(type='button') Audit
  br
  br
  #data